<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nnspace.thaismoodandroid">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:configChanges="fontScale"
        android:icon="@drawable/thaismood_logo"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".Evaluation"></activity>

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/more_option" />

        <activity android:name=".AddNewRecord" />
        <activity android:name=".Register" />
        <activity android:name=".Home" />
        <activity android:name=".MainmenuTest" />
        <activity android:name=".MainUI.Otp" />
        <activity android:name=".MainUI.SignInOn" />
        <activity android:name=".MainUI.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>