<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thaismoodandroid">

    <application
        android:allowBackup="true"
        android:configChanges="fontScale"
        android:icon="@drawable/thaismood_logo_demo"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity android:name=".PartUI.register_form"></activity>
        <activity android:name=".MainUI.SignInOn" />
        <activity android:name=".MainUI.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

</manifest>